$colors: (
  bG: #1f1f1f
);
body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: map-get($colors, bG);
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 25px;
  text-align: center;
  .playerScore {
    padding-right: 350px;
  }
}
.gameChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 25px;
  }
}

.playerControl {
  display: flex;
  justify-content: center;
}
